@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500;600;900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  --white-color: #efecea;
  --green-color: #005e67;
  --grey-color: #323233;
}

body {
  background: var(--white-color);
  font-family: "Inconsolata";
  font-style: normal;
  color: var(--grey-color);
  cursor: none;
  overflow-x: hidden;
}

.c-scrollbar {
  z-index: 5000;
}

h1 {
  color: var(--green-color);
  font-size: 5em;
  line-height: 80%;
  padding-bottom: 40px;
  font-family: "neue-haas-unica", sans-serif;
}

h2 {
  font-size: 4em;
}

h2 span {
  color: var(--green-color);
}

h3 {
  font-size: 2.5em;
  font-weight: 700;
}

p {
  font-family: "Inconsolata", monospace;
}

.full {
  height: 100vh;
}

.section {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10rem;
  padding-bottom: 10rem;
  width: 100vw;
  z-index: 100;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.primary-cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1em;
  background: var(--white-color);
  border: solid 6px var(--green-color);
  height: 60px;
  width: auto;
  padding-left: 1em;
  font-size: 1.6em;
  border-radius: 15px;
  text-decoration: none;
  color: var(--grey-color);
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  -webkit-box-shadow: 7px 7px 0 #013438;
          box-shadow: 7px 7px 0 #013438;
}

.primary-cta i {
  padding-left: 25px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  color: var(--green-color);
}

.primary-cta:hover {
  background: var(--green-color);
  color: var(--white-color);
}

.primary-cta:hover i {
  color: var(--white-color);
}

a i {
  font-size: 1.5em;
  -webkit-transform: translateY(13%);
          transform: translateY(13%);
  margin-right: 10px;
}

.btn-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background: var(--white-color);
  color: var(--grey-color);
  height: auto;
  z-index: 2000;
}

nav .name {
  text-decoration: none;
  color: var(--green-color);
  margin: 0 1em;
  font-weight: bold;
  font-size: 2em;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

nav ul a {
  text-decoration: none;
  color: var(--grey-color);
  margin: 2em;
}

.footer {
  position: fixed;
  bottom: 1rem;
  left: 0;
  width: 100%;
  z-index: 2000;
}

.footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  list-style: none;
  padding-left: 0;
  color: var(--grey-color);
}

.footer ul a {
  text-decoration: none;
  color: var(--grey-color);
  margin: 0em 1em;
}

#home .hero-copy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
}

#home .hero-copy h3 {
  font-size: 2em;
  text-transform: lowercase;
  font-weight: 300;
  font-family: "Inconsolata";
}

#home .svg {
  position: absolute;
  top: 10%;
  right: 0;
  bottom: 0;
  height: 100vh;
  z-index: -1000;
  opacity: 0.5;
}

#home .real {
  z-index: 15;
}

.skills {
  width: 100%;
  font-size: 1.4em;
  font-family: "Inconsolata", sans-serif;
  margin-top: 0.3rem;
  margin-bottom: 1rem;
  line-height: 150%;
}

#break {
  background-color: #7a99bb;
  padding-top: 30vh;
}

#break h1 {
  color: #faf8ec;
}

#break .break-copy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 50%;
}

#break .break-copy h3 {
  font-size: 2em;
  text-transform: lowercase;
  font-weight: 300;
  font-family: "Inconsolata";
}

#break .break-copy .left {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#break .break-copy .left .skills i {
  color: #faf8ec;
}

#break .break-copy .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40%;
}

#break .break-copy .right img {
  width: 800px;
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
  margin-top: -8.5rem;
}

@-webkit-keyframes ani {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100vw 0;
  }
}

@keyframes ani {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100vw 0;
  }
}

.image-holder {
  background: #adc8e6;
  position: relative;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin: 0 auto;
}

.image-holder .divi {
  background: url("/images/blue-waves.svg") top repeat;
  background-size: cover;
  margin-top: -5rem;
  height: 100px;
  width: 100%;
  -webkit-animation: ani 15s linear infinite;
          animation: ani 15s linear infinite;
}

.image-holder .row1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: auto;
  width: 100%;
  margin-left: 15%;
}

.image-holder .row1 .mockup {
  width: 40%;
  height: auto;
  margin-left: -22%;
}

.image-holder .row2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -15rem;
  height: auto;
  width: 100%;
  margin-left: 8%;
}

.image-holder .row2 .mockup {
  width: 40%;
  height: auto;
  margin-left: -22%;
}

.divider {
  background: url("/images/grey-waves.svg") top repeat;
  background-size: cover;
  margin-top: -5rem;
  width: 100%;
  height: 100px;
  position: absolute;
  top: 0;
  -webkit-animation: ani 15s linear infinite;
          animation: ani 15s linear infinite;
}

#creec {
  background: #4e4d4d;
  color: var(--white-color);
  position: relative;
}

#creec .creec-copy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 50%;
}

#creec .creec-copy h1 {
  color: #c6d5a8;
}

#creec .creec-copy h3 {
  font-size: 2em;
  text-transform: lowercase;
  font-weight: 300;
  font-family: "Inconsolata";
}

#creec .creec-copy .left {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#creec .creec-copy .left .skills i {
  color: #c6d5a8;
}

#creec .creec-copy .right {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#creec .creec-copy .right .img-div {
  border-radius: 47px;
  overflow: hidden;
}

#creec .creec-copy .right .img-div img {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  max-width: 300px;
  height: auto;
}

#eotw {
  background: #b0d875;
  color: var(--grey-color);
  position: relative;
}

#eotw .eotw-copy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 50%;
}

#eotw .eotw-copy h1 {
  color: #3482b1;
}

#eotw .eotw-copy h3 {
  font-size: 2em;
  text-transform: lowercase;
  font-weight: 300;
  font-family: "Inconsolata";
}

#eotw .eotw-copy .left {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#eotw .eotw-copy .left .skills i {
  color: #3482b1;
}

#eotw .eotw-copy .right {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#eotw .eotw-copy .right .img-div {
  border-radius: 47px;
  overflow: hidden;
}

#eotw .eotw-copy .right .img-div img {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  max-width: 300px;
  height: auto;
}

sl-dialog {
  --width: 1440px;
}

sl-dialog .image-container {
  height: 80vh;
  width: auto;
  max-width: 1400px;
  overflow-x: hidden;
}

sl-dialog .image-container img {
  width: 100%;
}

.dialog::part(overlay) {
  background-color: #323233;
}

.dialog::part(panel) {
  background-color: var(--white-color);
}

.end {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 7vh;
  background-color: var(--grey-color);
  z-index: -5;
}

.about-wrap {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.about-wrap #profile-photo {
  min-width: 300px;
  max-width: 500px;
  border-radius: 15px;
  margin-bottom: 2rem;
  border: solid 6px var(--green-color);
  -webkit-box-shadow: 7px 7px 0 #013438;
          box-shadow: 7px 7px 0 #013438;
}

.about-wrap h2.about {
  margin-top: -2em;
  margin-left: 0.5em;
  margin-bottom: 1rem;
  color: var(--white-color);
}

.about-wrap p.about-me {
  margin-top: 2rem;
  width: unset;
  font-size: 1.5rem;
}

.about-wrap .clip {
  width: 200px;
}

.contact-wrap {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-wrap h2.reach-out {
  line-height: 0.9;
}

.alert {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1000;
  height: auto;
  width: auto;
  background: var(--white-color);
  padding: 1em;
  font-size: 1.6em;
  border-radius: 15px;
  color: var(--grey-color);
  pointer-events: none;
  border: solid 6px var(--green-color);
  -webkit-box-shadow: 7px 7px 0 #013438;
          box-shadow: 7px 7px 0 #013438;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.visible {
  opacity: 1;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

@media (max-width: 800px) {
  .card {
    width: auto;
    max-width: 350px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .card:hover {
    height: 600px;
  }
  .card:hover .iphone {
    top: 70%;
    left: 50%;
    height: 350px;
  }
  .card .content {
    width: 100%;
    left: 0;
    padding: 40px;
  }
}

@media only screen and (max-width: 406px) {
  .work {
    width: 15px;
    height: 200px;
  }
  nav ul {
    visibility: hidden;
  }
  nav .name {
    margin: 1em 2em;
    font-size: 2em;
  }
  .nav-menu {
    visibility: hidden;
  }
  #profile-photo {
    min-width: 250px;
  }
  p {
    width: 80%;
  }
  sl-form {
    width: 80%;
  }
  h2 {
    font-size: 3em;
  }
  h2.reach-out {
    margin-bottom: 1em;
  }
  .hero-copy h3 {
    font-size: 1.8em;
  }
  .scroll-cta {
    visibility: visible;
    width: 100%;
    color: var(--green-color);
    position: relative;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .rotated {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  #fp-nav {
    top: 15%;
  }
}

#mouse-circle {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 3px solid #00a08b;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 99999;
  pointer-events: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#mouse-circle div {
  background: #00a08b;
  height: 7px;
  width: 7px;
  border-radius: 50%;
  opacity: 0.5;
}
/*# sourceMappingURL=main.css.map */