@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500;600;900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  --white-color: #efecea;
  --green-color: #005e67;
  --grey-color: #323233;
}

body {
  background: var(--white-color);
  font-family: "Inconsolata";
  font-style: normal;
  color: var(--grey-color);
  cursor: none;
  overflow-x: hidden;
}

.c-scrollbar {
  z-index: 5000;
}

// TEXT STYLES =+++====++===+===============
h1 {
  color: var(--green-color);
  font-size: 5em;
  line-height: 80%;
  padding-bottom: 40px;
  font-family: "neue-haas-unica", sans-serif;
}

h2 {
  font-size: 4em;
  span {
    color: var(--green-color);
  }
}

h3 {
  font-size: 2.5em;
  font-weight: 700;
}

p {
  font-family: "Inconsolata", monospace;
}

// LAYOUT STYLES =+++====++===+===============
.full {
  height: 100vh;
}

.section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10rem;
  padding-bottom: 10rem;
  width: 100vw;
  z-index: 100;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

// BUTTON AND LINK STYLES =+++====++===+===============
.primary-cta {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-top: 1em;
  background: var(--white-color);
  border: solid 6px var(--green-color);
  height: 60px;
  width: auto;
  padding-left: 1em;
  font-size: 1.6em;
  border-radius: 15px;
  text-decoration: none;
  color: var(--grey-color);
  transition: 0.2s ease;
  box-shadow: 7px 7px 0 #013438;
  i {
    padding-left: 25px;
    transition: 0.2s ease;
    color: var(--green-color);
  }
  &:hover {
    background: var(--green-color);
    color: var(--white-color);
    cursor: none;
    i {
      color: var(--white-color);
    }
  }
}

a {
  i {
    font-size: 1.5em;
    transform: translateY(13%);
    margin-right: 10px;
  }
}

.btn-wrap {
  display: flex;
  gap: 1rem;
}

nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 1rem 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background: var(--white-color);
  color: var(--grey-color);
  height: auto;
  z-index: 2000;
  .name {
    text-decoration: none;
    color: var(--green-color);
    margin: 0 1em;
    font-weight: bold;
    font-size: 2em;
    transition: 0.5s;
  }
  ul {
    list-style: none;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-end;
    a {
      text-decoration: none;
      color: var(--grey-color);
      margin: 2em;
      transition: 0.2s;
      padding-bottom: 10px;
      &:hover {
        color: var(--green-color);
        border-bottom: 5px solid var(--green-color);
      }
    }
  }
}

.footer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  min-height: 3rem;
  bottom: -3px;
  background: var(--grey-color);
  padding: 1rem;
  p {
    color: var(--white-color);
    width: 60%;
    text-align: center;
  }
}

// Homepage Styles   =+++====++===+===============
#home {
  .hero-copy {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 50%;
    h3 {
      font-size: 2em;
      text-transform: lowercase;
      font-weight: 300;
      font-family: "Inconsolata";
    }
  }

  .svg {
    position: absolute;
    top: 12%;
    right: 0;
    bottom: 0;
    height: 100vh;
    z-index: -1000;
    opacity: 0.5;
  }

  .real {
    z-index: 15;
  }
}

//WORK SLIDES --------------------------------------------------------------------------------------------
.skills {
  width: 100%;
  font-size: 1.4em;
  font-family: "Inconsolata", sans-serif;
  margin-top: 0.3rem;
  margin-bottom: 1rem;
  line-height: 150%;
}

#break {
  background-color: #7a99bb;
  padding-top: 30vh;
  h1 {
    color: #faf8ec;
  }

  .break-copy {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    width: 50%;
    h3 {
      font-size: 2em;
      text-transform: lowercase;
      font-weight: 300;
      font-family: "Inconsolata";
    }
    .left {
      width: 60%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      .skills {
        i {
          color: #faf8ec;
        }
      }
    }
    .right {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40%;
      img {
        width: 300px;
        margin-top: -100px;
        box-shadow: 10px 20px 50px rgba(27, 30, 51, 0.4);
        border-radius: 46px;
      }
    }
  }
}

@keyframes ani {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100vw 0;
  }
}

.image-holder {
  background: #adc8e6;
  position: relative;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  margin: 0 auto;
  height: 100vh;
  .divi {
    background: url("/images/blue-waves.svg") top repeat;
    position: absolute;
    top: 0;
    background-size: cover;
    margin-top: -3rem;
    height: 100px;
    width: 100%;
    animation: ani 15s linear infinite;
  }
  .row1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: auto;
    width: 120%;
    margin-left: -10%;
  }
  .row2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: -15rem;
    height: auto;
    width: 110%;
    margin-left: -5%;
  }
}

.mockup {
  width: 300px;
  height: auto;
  border-radius: 46px;
  box-shadow: 10px 20px 50px rgba(27, 30, 51, 0.4);
}

.divider {
  background: url("/images/grey-waves.svg") top repeat;
  background-size: cover;
  margin-top: -5rem;
  width: 100%;
  height: 100px;
  position: absolute;
  top: 0;
  animation: ani 15s linear infinite;
}

#creec {
  background: #4e4d4d;
  color: var(--white-color);
  position: relative;
  .creec-copy {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 50%;
    h1 {
      color: #c6d5a8;
    }
    h3 {
      font-size: 2em;
      text-transform: lowercase;
      font-weight: 300;
      font-family: "Inconsolata";
    }
    .left {
      width: 60%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      .skills {
        i {
          color: #c6d5a8;
        }
      }
    }
    .right {
      width: 40%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .img-div {
        border-radius: 47px;
        overflow: hidden;
        img {
          transform: scale(1.02);
          max-width: 300px;
          height: auto;
        }
      }
    }
  }
}

#eotw {
  background: #b0d875;
  color: var(--grey-color);
  position: relative;
  .eotw-copy {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 50%;
    h1 {
      color: var(--grey-color);
    }
    h3 {
      font-size: 2em;
      text-transform: lowercase;
      font-weight: 300;
      font-family: "Inconsolata";
    }
    .left {
      width: 60%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      .skills {
        i {
          color: #3482b1;
        }
      }
    }
    .right {
      width: 40%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .img-div {
        border-radius: 47px;
        overflow: hidden;
        img {
          transform: scale(1.02);
          max-width: 300px;
          height: auto;
        }
      }
    }
  }
  .drawings {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1000;
    height: 100vh;
    width: 100vw;
    .body {
      position: absolute;
      top: 10%;
      left: 30%;
    }
    .bum {
      position: absolute;
      bottom: 50%;
      right: 10%;
    }
    .head {
      position: absolute;
      top: 15%;
      left: 10%;
    }
    .swans {
      position: absolute;
      z-index: -1001;
      left: -10vw;
      bottom: 0;
      margin: 0 auto;
    }
  }
}

// About Section Styles --------------------------------------------

.about-wrap {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-right: 8rem;
  border: 5px var(--green-color);
  border-style: none dashed none none;
  #profile-photo {
    min-width: 300px;
    max-width: 500px;
    border-radius: 15px;
    margin-bottom: 2rem;
    border: solid 6px var(--green-color);
    box-shadow: 7px 7px 0 #013438;
  }
  h2.about {
    margin-top: -2em;
    margin-left: 0.5em;
    margin-bottom: 1rem;
    color: var(--white-color);
  }
  p.about-me {
    margin-top: 5rem;
    width: unset;
    font-size: 1.5rem;
  }
}

.contact-wrap {
  width: 40%;
  display: flex;
  align-items: center;
  flex-direction: column;
  blockquote {
    width: 70%;
    max-width: 500px;
    font-size: 1.4rem;
    color: var(--green-color);
    padding-bottom: 1rem;
  }
  cite {
    padding-bottom: 3rem;
    border: 5px var(--green-color);
    border-style: none none dashed none;
  }
  h2.reach-out {
    line-height: 0.9;
    padding-top: 2rem;
  }
  .btn {
    width: 400px;
  }
}

.alert {
  display: flex;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  height: auto;
  width: auto;
  background: var(--white-color);
  padding: 1em;
  font-size: 1.6em;
  border-radius: 15px;
  color: var(--grey-color);
  pointer-events: none;
  border: solid 6px var(--green-color);
  box-shadow: 7px 7px 0 #013438;
  transition: 0.5s ease;
}

.visible {
  opacity: 1;
  transition: 0.5s ease;
}

// Mouse Circle Effect
#mouse-circle {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 3px solid rgb(0, 160, 139);
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  z-index: 99999;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  div {
    background: rgb(0, 160, 139);
    height: 7px;
    width: 7px;
    border-radius: 50%;
    opacity: 0.5;
  }
}

@media only screen and (max-width: 1475px) {
  body {
    max-width: 100vw;
    width: 100vw;
  }
  .section {
    max-width: 100vw;
  }
  nav {
    width: 100vw;
    span {
      display: none;
    }
  }
  #home {
    .hero-copy {
      width: 90%;
      align-items: center;
      .real {
        font-size: 4em;
      }
      h3 {
        font-size: 1.2em;
      }
      .btn-wrap {
        flex-direction: column;
        gap: unset;
      }
    }
    .svg {
      display: none;
    }
  }
  #break {
    justify-content: center;
    height: auto;
    .break-copy {
      width: 90%;
      flex-direction: column-reverse;
      .left {
        width: 100%;
        align-items: center;
        text-align: center;
        h1 {
          font-size: 4em;
        }
      }
      .right {
        width: 100%;
        img {
          width: 200px;
          border-radius: 27px;
          margin-bottom: 5rem;
        }
      }
    }
  }
  #breaks {
    justify-content: center;
    height: auto;
    overflow-x: hidden;
    .row1 {
      margin-top: 20px;
    }
    .row2 {
      margin-top: -1rem;
      margin-left: 2rem;
    }
    .divi {
      display: none;
    }
    img {
      width: 150px;
      border-radius: 20px;
    }
  }

  #creec {
    justify-content: center;
    height: auto;
    .divider {
      display: none;
    }
    .creec-copy {
      width: 90%;
      flex-direction: column-reverse;
      .left {
        width: 100%;
        align-items: center;
        text-align: center;
        h1 {
          font-size: 4em;
        }
      }
      .right {
        width: 100%;
        .img-div {
          border-radius: 28px;
          height: auto;
        }
        img {
          width: 200px;
          border-radius: 38px;
          margin-bottom: 5rem;
        }
      }
    }
  }

  #eotw {
    justify-content: center;
    height: auto;
    .eotw-copy {
      width: 90%;
      flex-direction: column-reverse;
      .left {
        width: 100%;
        align-items: center;
        text-align: center;
        h1 {
          font-size: 4em;
          margin-top: 10rem;
        }
      }
    }
    .drawings {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: center;
      overflow-x: hidden;
      .body {
        top: 2%;
        left: -34%;
      }
      .bum {
        top: -8%;
        left: 25%;
        z-index: -100;
      }
      .head {
        top: 12%;
        left: 0;
      }
      .swans {
        position: relative;
        margin-top: 800px;
      }
      img {
        transform: scale(0.5);
      }
    }
  }

  #about-section {
    justify-content: center;
    height: auto;
    margin-top: 10rem;
    .row {
      flex-direction: column;
      .about-wrap {
        width: 90%;
        align-items: center;
        padding-right: unset;
        border-style: none none dashed none;
        padding-bottom: 3rem;
        img {
          width: 300px;
        }
        .about-me {
          width: 90%;
          text-align: center;
        }
      }
      .contact-wrap {
        width: 90%;
        padding-bottom: 3rem;
        blockquote {
          width: unset;
          padding-top: 2rem;
        }
        h2 {
          font-size: 3rem;
        }
        .primary-cta.btn {
          font-size: 1.2em;
          width: 300px;
          align-items: center;
        }
      }
    }
  }

  .footer {
    p {
      width: 90%;
    }
  }

  #mouse-circle {
    display: none;
    div {
      display: none;
    }
  }
}
