@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500;600;900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  --white-color: #efecea;
  --green-color: #005e67;
  --grey-color: #323233;
}

body {
  background: var(--white-color);
  font-family: "Inconsolata";
  font-style: normal;
  color: var(--grey-color);
  cursor: none;
  overflow-x: hidden;
}

.c-scrollbar {
  z-index: 5000;
}

h1 {
  color: var(--green-color);
  font-size: 5em;
  line-height: 80%;
  padding-bottom: 40px;
  font-family: "neue-haas-unica", sans-serif;
}

h2 {
  font-size: 4em;
}

h2 span {
  color: var(--green-color);
}

h3 {
  font-size: 2.5em;
  font-weight: 700;
}

p {
  font-family: "Inconsolata", monospace;
}

.full {
  height: 100vh;
}

.section {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10rem;
  padding-bottom: 10rem;
  width: 100vw;
  z-index: 100;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.primary-cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1em;
  background: var(--white-color);
  border: solid 6px var(--green-color);
  height: 60px;
  width: auto;
  padding-left: 1em;
  font-size: 1.6em;
  border-radius: 15px;
  text-decoration: none;
  color: var(--grey-color);
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  -webkit-box-shadow: 7px 7px 0 #013438;
          box-shadow: 7px 7px 0 #013438;
}

.primary-cta i {
  padding-left: 25px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  color: var(--green-color);
}

.primary-cta:hover {
  background: var(--green-color);
  color: var(--white-color);
  cursor: none;
}

.primary-cta:hover i {
  color: var(--white-color);
}

a i {
  font-size: 1.5em;
  -webkit-transform: translateY(13%);
          transform: translateY(13%);
  margin-right: 10px;
}

.btn-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background: var(--white-color);
  color: var(--grey-color);
  height: auto;
  z-index: 2000;
}

nav .name {
  text-decoration: none;
  color: var(--green-color);
  margin: 0 1em;
  font-weight: bold;
  font-size: 2em;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

nav ul a {
  text-decoration: none;
  color: var(--grey-color);
  margin: 2em;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  padding-bottom: 10px;
}

nav ul a:hover {
  color: var(--green-color);
  border-bottom: 5px solid var(--green-color);
}

.footer {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: auto;
  min-height: 3rem;
  bottom: -3px;
  background: var(--grey-color);
  padding: 1rem;
}

.footer p {
  color: var(--white-color);
  width: 60%;
  text-align: center;
}

#home .hero-copy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
}

#home .hero-copy h3 {
  font-size: 2em;
  text-transform: lowercase;
  font-weight: 300;
  font-family: "Inconsolata";
}

#home .svg {
  position: absolute;
  top: 12%;
  right: 0;
  bottom: 0;
  height: 100vh;
  z-index: -1000;
  opacity: 0.5;
}

#home .real {
  z-index: 15;
}

.skills {
  width: 100%;
  font-size: 1.4em;
  font-family: "Inconsolata", sans-serif;
  margin-top: 0.3rem;
  margin-bottom: 1rem;
  line-height: 150%;
}

#break {
  background-color: #7a99bb;
  padding-top: 30vh;
}

#break h1 {
  color: #faf8ec;
}

#break .break-copy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 50%;
}

#break .break-copy h3 {
  font-size: 2em;
  text-transform: lowercase;
  font-weight: 300;
  font-family: "Inconsolata";
}

#break .break-copy .left {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#break .break-copy .left .skills i {
  color: #faf8ec;
}

#break .break-copy .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40%;
}

#break .break-copy .right img {
  width: 300px;
  margin-top: -100px;
  -webkit-box-shadow: 10px 20px 50px rgba(27, 30, 51, 0.4);
          box-shadow: 10px 20px 50px rgba(27, 30, 51, 0.4);
  border-radius: 46px;
}

@-webkit-keyframes ani {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100vw 0;
  }
}

@keyframes ani {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100vw 0;
  }
}

.image-holder {
  background: #adc8e6;
  position: relative;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  margin: 0 auto;
  height: 100vh;
}

.image-holder .divi {
  background: url("/images/blue-waves.svg") top repeat;
  position: absolute;
  top: 0;
  background-size: cover;
  margin-top: -3rem;
  height: 100px;
  width: 100%;
  -webkit-animation: ani 15s linear infinite;
          animation: ani 15s linear infinite;
}

.image-holder .row1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: auto;
  width: 120%;
  margin-left: -10%;
}

.image-holder .row2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: -15rem;
  height: auto;
  width: 110%;
  margin-left: -5%;
}

.mockup {
  width: 300px;
  height: auto;
  border-radius: 46px;
  -webkit-box-shadow: 10px 20px 50px rgba(27, 30, 51, 0.4);
          box-shadow: 10px 20px 50px rgba(27, 30, 51, 0.4);
}

.divider {
  background: url("/images/grey-waves.svg") top repeat;
  background-size: cover;
  margin-top: -5rem;
  width: 100%;
  height: 100px;
  position: absolute;
  top: 0;
  -webkit-animation: ani 15s linear infinite;
          animation: ani 15s linear infinite;
}

#creec {
  background: #4e4d4d;
  color: var(--white-color);
  position: relative;
}

#creec .creec-copy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 50%;
}

#creec .creec-copy h1 {
  color: #c6d5a8;
}

#creec .creec-copy h3 {
  font-size: 2em;
  text-transform: lowercase;
  font-weight: 300;
  font-family: "Inconsolata";
}

#creec .creec-copy .left {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#creec .creec-copy .left .skills i {
  color: #c6d5a8;
}

#creec .creec-copy .right {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#creec .creec-copy .right .img-div {
  border-radius: 47px;
  overflow: hidden;
}

#creec .creec-copy .right .img-div img {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  max-width: 300px;
  height: auto;
}

#eotw {
  background: #b0d875;
  color: var(--grey-color);
  position: relative;
}

#eotw .eotw-copy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 50%;
}

#eotw .eotw-copy h1 {
  color: var(--grey-color);
}

#eotw .eotw-copy h3 {
  font-size: 2em;
  text-transform: lowercase;
  font-weight: 300;
  font-family: "Inconsolata";
}

#eotw .eotw-copy .left {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#eotw .eotw-copy .left .skills i {
  color: #3482b1;
}

#eotw .eotw-copy .right {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#eotw .eotw-copy .right .img-div {
  border-radius: 47px;
  overflow: hidden;
}

#eotw .eotw-copy .right .img-div img {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  max-width: 300px;
  height: auto;
}

#eotw .drawings {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1000;
  height: 100vh;
  width: 100vw;
}

#eotw .drawings .body {
  position: absolute;
  top: 10%;
  left: 30%;
}

#eotw .drawings .bum {
  position: absolute;
  bottom: 50%;
  right: 10%;
}

#eotw .drawings .head {
  position: absolute;
  top: 15%;
  left: 10%;
}

#eotw .drawings .swans {
  position: absolute;
  z-index: -1001;
  left: -10vw;
  bottom: 0;
  margin: 0 auto;
}

.about-wrap {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-right: 8rem;
  border: 5px var(--green-color);
  border-style: none dashed none none;
}

.about-wrap #profile-photo {
  min-width: 300px;
  max-width: 500px;
  border-radius: 15px;
  margin-bottom: 2rem;
  border: solid 6px var(--green-color);
  -webkit-box-shadow: 7px 7px 0 #013438;
          box-shadow: 7px 7px 0 #013438;
}

.about-wrap h2.about {
  margin-top: -2em;
  margin-left: 0.5em;
  margin-bottom: 1rem;
  color: var(--white-color);
}

.about-wrap p.about-me {
  margin-top: 5rem;
  width: unset;
  font-size: 1.5rem;
}

.contact-wrap {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-wrap blockquote {
  width: 70%;
  max-width: 500px;
  font-size: 1.4rem;
  color: var(--green-color);
  padding-bottom: 1rem;
}

.contact-wrap cite {
  padding-bottom: 3rem;
  border: 5px var(--green-color);
  border-style: none none dashed none;
}

.contact-wrap h2.reach-out {
  line-height: 0.9;
  padding-top: 2rem;
}

.contact-wrap .btn {
  width: 400px;
}

.alert {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1000;
  height: auto;
  width: auto;
  background: var(--white-color);
  padding: 1em;
  font-size: 1.6em;
  border-radius: 15px;
  color: var(--grey-color);
  pointer-events: none;
  border: solid 6px var(--green-color);
  -webkit-box-shadow: 7px 7px 0 #013438;
          box-shadow: 7px 7px 0 #013438;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.visible {
  opacity: 1;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

#mouse-circle {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 3px solid #00a08b;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 99999;
  pointer-events: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#mouse-circle div {
  background: #00a08b;
  height: 7px;
  width: 7px;
  border-radius: 50%;
  opacity: 0.5;
}

@media only screen and (max-width: 1475px) {
  body {
    max-width: 100vw;
    width: 100vw;
  }
  .section {
    max-width: 100vw;
  }
  nav {
    width: 100vw;
  }
  nav span {
    display: none;
  }
  #home .hero-copy {
    width: 90%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #home .hero-copy .real {
    font-size: 4em;
  }
  #home .hero-copy h3 {
    font-size: 1.2em;
  }
  #home .hero-copy .btn-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: unset;
  }
  #home .svg {
    display: none;
  }
  #break {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: auto;
  }
  #break .break-copy {
    width: 90%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  #break .break-copy .left {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  #break .break-copy .left h1 {
    font-size: 4em;
  }
  #break .break-copy .right {
    width: 100%;
  }
  #break .break-copy .right img {
    width: 200px;
    border-radius: 27px;
    margin-bottom: 5rem;
  }
  #breaks {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: auto;
    overflow-x: hidden;
  }
  #breaks .row1 {
    margin-top: 20px;
  }
  #breaks .row2 {
    margin-top: -1rem;
    margin-left: 2rem;
  }
  #breaks .divi {
    display: none;
  }
  #breaks img {
    width: 150px;
    border-radius: 20px;
  }
  #creec {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: auto;
  }
  #creec .creec-copy {
    width: 90%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  #creec .creec-copy .left {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  #creec .creec-copy .left h1 {
    font-size: 4em;
  }
  #creec .creec-copy .right {
    width: 100%;
  }
  #creec .creec-copy .right .img-div {
    border-radius: 28px;
    height: auto;
  }
  #creec .creec-copy .right img {
    width: 200px;
    border-radius: 38px;
    margin-bottom: 5rem;
  }
  #eotw {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: auto;
  }
  #eotw .eotw-copy {
    width: 90%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  #eotw .eotw-copy .left {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  #eotw .eotw-copy .left h1 {
    font-size: 4em;
    margin-top: 10rem;
  }
  #eotw .drawings {
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow-x: hidden;
  }
  #eotw .drawings .body {
    top: 2%;
    left: -34%;
  }
  #eotw .drawings .bum {
    top: -8%;
    left: 25%;
    z-index: -100;
  }
  #eotw .drawings .head {
    top: 12%;
    left: 0;
  }
  #eotw .drawings .swans {
    position: relative;
    margin-top: 800px;
  }
  #eotw .drawings img {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  #about-section {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: auto;
    margin-top: 10rem;
  }
  #about-section .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #about-section .row .about-wrap {
    width: 90%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-right: unset;
    border-style: none none dashed none;
    padding-bottom: 3rem;
  }
  #about-section .row .about-wrap img {
    width: 300px;
  }
  #about-section .row .about-wrap .about-me {
    width: 90%;
    text-align: center;
  }
  #about-section .row .contact-wrap {
    width: 90%;
    padding-bottom: 3rem;
  }
  #about-section .row .contact-wrap blockquote {
    width: unset;
    padding-top: 2rem;
  }
  #about-section .row .contact-wrap h2 {
    font-size: 3rem;
  }
  #about-section .row .contact-wrap .primary-cta.btn {
    font-size: 1.2em;
    width: 300px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer p {
    width: 90%;
  }
  #mouse-circle {
    display: none;
  }
  #mouse-circle div {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */